Package: NornsMother
Version: 0.3.2
Architecture: armhf
Maintainer: Oxbown <oxbown@icloud.com>
Depends: sidekick (>= 0.2.0-5) 
Section: sound
Priority: optional
Description: Organelle patches on Norns via Sidekick.
 See https://github.com/oxbown/NornsMother/ for more information
 